* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}       


.nav {
   display: flex;
   list-style-type: none;
   justify-content: flex-end;
   gap: 150px;
   margin-right: 30px;
   color: aqua;

}


.nav, a:hover{
    color: white;
    font-weight: bold;
}

div.gallary1,img { 
    height: 50px;
    padding-left: 45px;
    margin-top: -10px;   
}

.main {
    background: #1f2937;
    height: 550px;

}

.main {
    background: #1f2937;
    position: relative;
    animation-name: boxanime;
    animation-duration: 10s;
    animation-delay: 3s;
}

@keyframes boxanime {
    0% {
        background: bisque;
        top: 20;
        bottom: 20;
        left: 20;
        right: 60;
    }

}




.top {
    font-weight: bold;
    font-size: 48px;
    color: #f9faf8;
}

.down {
    font-size: 18px;
    color: #e5e7eb;
}

.hero {
    margin: 80px;
    padding: 25px;
    margin-left: 25px;
    
}

button {
    background: #3882f6;
    color: white;
    border: none;
    border-radius: 5px 5px;
    font-size: medium;
    margin-top: 10px;
    height: 35px;
    width: 120px;
}

button, :hover {
    color: aquamarine;
}

div.gallary2 img {
    height: 200px;
    width: 560px;
    display: grid;   
    place-content: center;
    padding: 22px;
}

 
.placeholder {
    height: 250px;
    width: 600px;
    background: #e5e7eb;
    margin-left: 670px;
    margin-top: -240px;  
    border-radius: 6px 6px;
}

.placeholder {
    background: mediumpurple;
    position: relative;
    animation-name: boxanime;
    animation-duration: 10s;
}

@keyframes boxanime {
    0% {
        background: lightgoldenrodyellow;
        top: 20;
        bottom: 20;
        left: 20;
        right: 60;
    }

}

.blank {
    height: 450px;
    padding-top: 100px;
    padding-bottom: 100px;
    background: whitesmoke; 
    background-image: url(BKG6.jpg);
    background-repeat: no-repeat;
    background-position: cover;
}


.blanket {
    padding: 100px;
    display: flex;
    color: black;
    justify-content: center;
    font-size: 25px;
    
}

.flex-container {
    display: flex;
    justify-content: center;
}


.box {
    height: 150px;
    width: 150px;
    border-radius: 8px 8px;
    border: 3px solid #3882f6;
    margin: 20px;
}

.third {
    height: 400px;
    background: #e5e7eb;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 1px black;
}

.fourth {
    border: burlywood;
    border-radius: 1rem;
    box-shadow: 20px 20px 12px 12px;
    color: #1f2937;
    width: 700px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.name {
    color: black;
    font-weight: bolder;
    margin-top: 100px;
    margin-left: -50px;
}

.action {
    display:flex ;
    align-items: center;
    justify-content: center;
    height: 400px;
    background-image: linear-gradient(#c7a575,#d5d5d5,#36322c,#ebf3eb);   
    
}

.form {
    height: 150px;
    width: 1000px;
    background: #3882f6;
    border: none;
    border-radius: 7px 7px;
    color: white;  
    
}

.button {
    border: solid 2px white;
    margin-left: 580px;
    margin-top: -30px;

}

.sign {
    padding-left: 120px;
    padding-top: 10px;
    
}

.time {
    font-weight: bolder;
    padding-top: 55px;
    padding-left: 120px;
}

.footer {
    height: 200px;
    background: #1f2937;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

